@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #262626;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fc-today-bg-color: rgba(96, 95, 95, 0.15);
    --fc-now-indicator-color: rgb(171, 4, 4);
    --fc-border-color: #606060;
    --background: #262626;
    --foreground: #ededed;
    
  }
}

.headerImage {
  opacity: 100%;
  filter: invert(100%);
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.calMain {
  display: flex;
  height: 100vh;
  background-color: var(--background);
}

.calMain .calContent {
  flex-grow: 1;
  width: auto; 
  margin-left: 300px; 
  margin-right: 300px; 
}

.calContent {
  overflow: auto;
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
}

.calContent::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

.calSideBarA {
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #1A1A1A; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-left: 20px;
  border-style: solid;
  border-left: #FFF;
  border-top: 0px;
  border-width: 1px;
}


.calSideBarB {
  position: fixed;
  height: 100vh; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #262626; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  padding-left: 20px;
  border-style: solid;
  border-right: #FFF;
  border-top: 0px;
  border-width: 1px;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.saveMe {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2px;
  font-size: 15px;
}

input {
  @apply px-2;
}
  .fc-header-toolbar {
    display: block;
    padding: 4px 4px;
    
    @apply space-x-8;
}

.fc {
  width: 100%; /* Full width of the remaining space */
  height: 100%; 
}

.fc-day {
  @apply m-8;
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}

.fc-view {
  background: var(--background);

}

.fc-h-event {
  @apply bg-violet-500 border border-violet-600 ;
  
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-blue-100 ;
}

.fc .fc-button{
  @apply bg-blue-800 hover:bg-blue-900  ;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-blue-600;
}

.fc .fc-button-primary:disabled {
  @apply bg-blue-600;
}

.fc-h-event {
  background-color: #6b5b95;
}
